body {
    background-color: #85afc0;
}

h1 {
    color: #0b526e;
}

h3 {
    color: #0b526e;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}


/* img {
    height: 20px;
} */