/* TAG SELECTORS */

h1 {
    color: purple;
    font-size: 100px;
}

img:hover {
    background-color: gold;
}


/* 
img {
    background-color: purple;
} */


/* CLASS SELECTORS */

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}


/* ID SELECTORS */

#heading {
    color: blue;
    font-size: 40px;
}